* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-wrap {
  width: 100%;
}
.img-wrap img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sm-slider .slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.sm-slider .slider-wrap {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
.sm-slider .slider-wrap .slides {
  width: 100%;
  transition: all 0.9s;
}
.sm-slider .slider-wrap .slides img {
  width: 100%;
  display: inline-block;
  aspect-ratio: 3/2;
}

.img-gallery {
  width: 100%;
  max-width: 1120px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .img-gallery {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
.img-gallery .img-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .img-gallery .sm-img-list-slider {
    display: none;
  }
}
.img-gallery .sm-img-list-slider .pagination {
  position: absolute;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  width: 90%;
  bottom: 30px;
  left: 5%;
}
.img-gallery .sm-img-list-slider .pagination button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.img-gallery .sm-img-list-slider .pagination button img {
  width: 50%;
}
.img-gallery .lg-img-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .img-gallery .lg-img-list {
    display: grid;
  }
}
.img-gallery .img-wrap {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .img-gallery .img-wrap {
    display: block;
  }
}
.img-gallery .img-wrap:nth-child(1) {
  display: block;
}
@media only screen and (min-width: 768px) {
  .img-gallery .img-wrap:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.img-gallery .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}
@media only screen and (min-width: 768px) {
  .img-gallery .img-wrap img {
    aspect-ratio: 1/1;
  }
}
.img-gallery .swiper-pagination {
  color: white;
  font-weight: 500;
  display: inline-block;
  background-color: #514f50;
  padding: 6px 0px;
  width: 60px;
  border-radius: 6px;
  font-size: 14px;
  left: initial;
  right: 20px;
  bottom: 20px;
}
.img-gallery #show-all-photos {
  display: none;
  cursor: pointer;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  font-size: 13px;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: 1px solid #514f50;
}
@media only screen and (min-width: 768px) {
  .img-gallery #show-all-photos {
    display: flex;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  display: grid;
  display: none;
  grid-template: "title" 100px "img-list" calc(100vh - 100px);
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  transition: all 0.5s;
  transform: translateY(100%);
  opacity: 0;
}
.overlay .overlay-header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
}
.overlay .overlay-header .btn-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay .overlay-header .btn-wrap button {
  border: none;
  background-color: white;
  display: flex;
  column-gap: 8px;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
.overlay .overlay-header .btn-wrap button svg {
  background-color: white;
}
.overlay .overlay-header .btn-wrap .share-save {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.overlay .img-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .overlay .img-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}
.overlay .img-list .img-wrap {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 600ms;
}
.overlay .img-list .img-wrap img {
  display: inline-block;
}
.overlay.active {
  transform: translateY(0%);
  opacity: 1;
}
.overlay.active .img-wrap {
  opacity: 1;
}

.back {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
