* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // height: 200vh;
}

// responsive
@mixin resp() {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
// common style
.img-wrap {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
// base slider style
.slider {
    // slider container
    .slider-container {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .slider-wrap {
        display: flex;
        flex-flow: row nowrap;
        // align-items: center;
        // display: grid;
        // grid-template-columns: repeat(28, 1fr);
        // grid-template-rows: 1fr;
        overflow: hidden;
        .slides {
            width: 100%;
            transition: all 0.9s;
            // height: 482px;
            img {
                width: 100%;
                display: inline-block;
                aspect-ratio: 3/2;
            }
        }
    }
    button {
        background-color: transparent;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        img {
            width: 50%;
        }
    }
    // left right btn
}

// image gallery -----------------------------------------------------------
.img-gallery {
    width: 100%;
    max-width: 1120px;
    position: relative;
    // media screen
    @media only screen and (min-width: 768px) {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .img-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        border-radius: 10px;
        overflow: hidden;
    }
    // for small screen img list
    .sm-img-list-slider {
        @include resp() {
            display: none;
        }
        .pagination {
            position: absolute;
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            width: 90%;
            bottom: 30px;
            left: 5%;
        }
    }

    // for large screen img list
    .lg-img-list {
        display: none;
        @include resp() {
            display: grid;
        }
    }
    .img-wrap {
        width: 100%;
        display: none;
        @media only screen and (min-width: 768px) {
            display: block;
        }
        &:nth-child(1) {
            display: block;
            @media only screen and (min-width: 768px) {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 3/2;
            @media only screen and (min-width: 768px) {
                aspect-ratio: 1/1;
            }
        }
    }

    // swiper pagination
    .swiper-pagination {
        color: white;
        font-weight: 500;
        display: inline-block;
        background-color: #514f50;
        padding: 6px 0px;
        width: 60px;
        border-radius: 6px;
        font-size: 14px;
        left: initial;
        right: 20px;
        bottom: 20px;
    }

    // show all button
    #show-all-photos {
        display: none;
        @include resp() {
            display: flex;
        }
        cursor: pointer;
        padding: 5px 15px;
        justify-content: center;
        align-items: center;
        column-gap: 7px;
        font-size: 13px;
        border-radius: 5px;
        position: absolute;
        bottom: 30px;
        right: 30px;
        border: 1px solid #514f50;
    }
}

// overlay page
.overlay {
    width: 100%;
    height: 100vh;
    display: grid;
    display: none;
    grid-template: "title" 100px "img-list" calc(100vh - 100px);
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    // overlay header
    .overlay-header {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 60px;
        .btn-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                border: none;
                background-color: white;
                display: flex;
                column-gap: 8px;
                text-decoration: underline;
                font-weight: 600;
                cursor: pointer;
                svg {
                    background-color: white;
                }
            }
            .share-save {
                display: flex;
                align-items: center;
                column-gap: 20px;
            }
        }
    }
    // image list
    .img-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        @include resp() {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            max-width: 740px;
        }

        .img-wrap {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.3s;
            transition-delay: 600ms;
            img {
                // object-fit: cover;
                // aspect-ratio: 3/2;
                // width: 100%;
                // height: 100%;
                display: inline-block;
            }
        }
    }
    // animation
    transition: all 0.5s;
    transform: translateY(100%);
    opacity: 0;
    &.active {
        transform: translateY(0%);
        opacity: 1;
        .img-wrap {
            opacity: 1;
        }
    }
}

.back {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
    }
}

// light box
.light-box {
    position: fixed;
    @extend .overlay;
    z-index: 100;
    transform: translate(0);
    background-color: black;
    opacity: 1;
    display: grid;
    @include resp() {
        grid-template:
            "title" 60px
            "img-list" calc(100vh - 60px);
    }
    .back {
        background-color: black !important;
    }

    .slider {
        display: flex;
        align-items: center;

        .slider-pagi-wrap {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slider-container {
            width: 100%;
            max-width: 650px;
        }
        .pagination {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            left: 0px;
            top: calc(50% - 25px);
            padding-left: 20px;
            padding-right: 20px;
            @include resp() {
                padding-left: 80px;
                padding-right: 80px;
            }
            button {
                background-color: transparent!important;
                border: 2px solid white;
                @include resp() {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .share-save {
        button {
            background-color: transparent !important;
            color: white;
        }
    }
}
